@font-face {
    font-family: Mockup-Fonts-ConthraxRg;
    src: url("./public/Fonts/ConthraxRg-BoldItalic.woff") format('woff');
}

@font-face {
    font-family: Mockup-Fonts-ConthraxSb;
    src: url("./public/Fonts/ConthraxSb-Regular.woff") format('woff');
}

@font-face {
    font-family: Mockup-Fonts-Gotham-Bold;
    src: url("./public/Fonts/Gotham-Bold.woff") format('woff');
}

@font-face {
    font-family: Mockup-Fonts-Gotham-Medium;
    src: url("./public/Fonts/Gotham-Medium.woff") format('woff');
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.firstDiv{
    width: 100vw;
    height: 40vw;
}

.navBar{
    position: absolute;
    width: 100vw;
    height: 5vw;
    z-index: 1;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
}

.navBar img{
    width: 7vw;
    margin-right: 5%;
    height: auto;
    padding-top: 0.5%;
}

.navLinks{
    padding-top: 1%;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navLinks a{
    padding: 0.5%;
    margin-right: 0.7%;
    font-size: 0.73vw;
    font-family: Mockup-Fonts-Gotham-Medium ;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.navLinks a:hover{
    background: white;
    color:black;
    transition: 0.3s;
}

.btnHolder{
    height: 100%;
    width:15vw;
    display: flex;
}

.parrallaxImageDiv{
    width: 96%;
    height: 100%;
    transform: skewX(-15deg) translateX(-7%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.parrallaxImageDiv img{
    object-fit: contain;
    transform: skew(15deg);
    width: 110%;
    height: 100%;
}

.btnHolder{
    display: flex;
    align-items:flex-end;
}

.navBtn{
    height: 48%;
    width: 51%;
    font-size: 0.73vw;
    background: none;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    font-family: Mockup-Fonts-Gotham-Bold ;
    cursor: pointer;
    transition: 0.3s;
}

.navBtn:hover{
    background: white;
    color:black;
    transition: 0.3s;
}

.floatingBlock{
    position: absolute;
    width: 40%;
    height: 70%;
    bottom: 0;
    transform: translateX(18.6%);
}

.floatingInfo img{
    width: 20%;
    height: 100%;
    object-fit: contain; 
}

.floatingInfo{
    width: 100%;
    height: 100%;
    display: flex;
}

.floatingInfoContainer{
    transform: skew(15deg);
    padding-left: 10%;
}

.floatingText{
    font-family: Mockup-Fonts-ConthraxRg;
    margin-left: 8%;
    margin-top: 0;
    font-size: 3vw;
    color: white;
}


.floatingBtnContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8%;
}

.floatingBtnContainer button{
    color: #F1D529;
    padding: 5%;
    background: none;
    border: 2px solid #F1D529;
    border-radius: 8px;
    cursor: pointer;
    font-family:Mockup-Fonts-Gotham-Bold;
    transition: 0.3s;
    font-size: 1vw;
}

.floatingBtnContainer button:hover{
    background-color: #F1D529;
    border: 2px solid black;
    color: black;
    transition: 0.3s;
}

.contentSectionDiv{
    width: 100vw;
    height: 30vw;
}

.contentHeadline{
    width:100%;
    height: 43%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: Mockup-Fonts-ConthraxRg;
    text-align: center;
    font-size: 1vw;
    color: #1C4893;
}

.contentSubHeading{
    width:100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mockup-Fonts-Gotham-Bold;
    text-align: center;
    font-size: 0.8vw;
    color: #58595B;
}

.contentParagraph{
    width:100%;
    height: 37%;
    display: flex;
    margin-bottom: 1%;
}

.paragraphLeft{
    width: 50%;
    height:100%;
    display: flex;
    justify-content: flex-end;
}

.paragraphRight{
    width: 50%;
    height:100%;
}

.paragraphContainer{
    width:50%;
    padding: 3%;
    font-family: Mockup-Fonts-Gotham-Medium;
    color: #727473;
    line-height: 150%;
    font-size: 0.8vw;
}

.contentBtn{
    width: 100%;
    height: 15%;
    display:  flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2%;
}

.contentBtn button{
    font-size: 0.8vw;
    color: #E48E37;
    background: none;
    border: 1px solid #E48E37;
    padding: 0.8%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.contentBtn button:hover{
    background-color: #E48E37;
    color: white;
    transition: 0.3s;
}

.productDiv{
    width: 100vw;
    height:40vw;
    background-color: #252F39;
    position: relative;
}

.productHeading{
    width:100%;
    height:30%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.productHeading h1{
    text-align: center;
    font-family: Mockup-Fonts-ConthraxRg;
    color: white;
    z-index: 1;
    margin: 0;
    font-size: 2vw;
    padding-bottom: 3%;
}

.stripeDiv{
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    background-image: url(./public/orange-line-2.png);
    background-repeat:  no-repeat;
    background-size: contain;
    background-position-x: 22% ;
}


.productTileDiv{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.gridContainer{
    width: 70%;
    height:100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.productTile{
    width: 90%;
    height: 80%;
    background-color: #252F39;
    z-index: 1;
    padding: 3%;
    border-radius: 5px;
    transition: 0.3s;
    
}

.productTile:hover{
    background-color: #3C444F;
    transform: translateY(-2%);
    transition: 0.3s;

}

.productTile:hover img{
    transform: translateY(-7%);
    transition: 0.3s;
}

.productTile:first-child{
    background-color: #3C444F;
}

.productTile h1{
    color: white;
    font-size: 1.2vw;
    font-family: Mockup-Fonts-Gotham-Medium;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}

.tileImg{
    width: 100%;
    height:45%;
    background-color: white;
    margin-top: 6%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tileImg img{
    width: 60%;
    height: auto;
    transition: 0.3s;
}

.tileText{
    font-size: 0.9vw;
    font-family: Mockup-Fonts-Gotham-Medium;
    color: #B0B5BB;
}

.tileBtn {
    width: 100%;
    height: 10%;
    font-size: 0.9vw;
    font-family: Mockup-Fonts-Gotham-Bold;
    display: flex;
    align-items: center;
    color: #F0D435;
}

.sliderDiv{
   width: 100vw;
   height: 30vw;
   background-color: #58595B; 
   
}
